<div id="sub-menu">
    <button id="sub-side-toggle"><<</button>
    <div id="sub-menu-component">
        <h4 id="page-title"></h4>
        <div style="margin-bottom: 15px;">

            <input type="search" placeholder="search" style="width: 180px; border:none; padding: 3px 3px; border-radius: 5px">
        </div>
        <div style= "display:flex ;justify-content:space-between; margin-bottom:20px ; list-style-type: none; padding:0">
            <button id="sub-shortcuts-btn" class="sub-tab-btn active">Shortcuts</button>
            <button id="sub-menu-btn" class="sub-tab-btn">Menu</button>
        </div>

        <div id="sub-menu-content" style="width: 160px">
            
        </div>
    </div>
</div>