.layout-main-section-wrapper {
    padding: 0;
    margin: 0;
}

/* .page-container {
    width: 50% !important;
    margin: auto;
} */



/* ===============================
   Hide custom sidebars while loading
   =============================== */

body.app-loading #side-menu-perent,
body.app-loading #sub-menu {
    display: none !important;
}

/* Optional: avoid layout jump */
body.app-loading .main-section {
    visibility: hidden;
}

#body {
    /* min-height: 120vh; */
    display: flex;
    gap: 5;
    /* justify-content: space-between; */
    position: relative;

}

body.full-width .container {
    width: 99%;
}

/* hide system sidebar */
.layout-side-section,
.sidebar-toggle-btn {
    display: none !important;
}


/* ======================================= */
/* 1) side-menu-perent */

#side-menu-perent {
    min-height: 95vh !important;
    max-height: 100% !important;
    /* border-right: 1px solid lightgray; */
    /* border-left: 1px solid lightgray; */
    /* border-radius: 5px; */
    /* background-color: rgb(238, 238, 238); */
    color: black;
    position: relative;

}

/* sidebar toggle button */
#side-toggle {
    overflow: hidden;
    position: fixed;
    margin-left: 65px;
    margin-top: 5px;
    z-index: 1 !important;
    opacity: 0.7;
    border: none;
}

#side-toggle:hover {
    opacity: 1;
    width: fit-content;
}

/* ======================================= */
/* 2) side-menu-component */
#side-menu-component {
    position: fixed;
    width: 55px !important;
    height: 89vh;
    margin: 10px 5px;
    overflow: auto;
    scrollbar-width: none;
}



/* ================================================== */


/* ========== start sub menu ================ */
#sub-menu {
    /* background-color: lightgray; */
    padding-top: 25px;
    min-width: 200px;
    /* background-color: rgb(238, 238, 238); */

}
#page-title{
    font-size: small;
}

/* sidebar toggle button */
#sub-side-toggle {
    overflow: hidden;
    position: fixed;
    margin-left: 230px;
    margin-top: 40px;
    z-index: 1 !important;
    opacity: 0.7;
    border: none;
}

#sub-side-toggle:hover {
    opacity: 1;
    width: fit-content;
}

#sub-menu-component {
    margin: 5px 0 0 0;
    position: fixed;
    padding: 0 10px;
}

/* menu and shortcut btn */
.sub-tab-btn {
    padding: 4px 0;
    width: 45%;
    font-size: small;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background: var(--theme-color);
    color: #111;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 5px;
}

.sub-tab-btn.active::before {
    content: "✓";
    margin-right: 4px;
    transition: transform 0.3s ease;
}

.sub-tab-btn.active {
    background: var(--theme-color2);
    border-bottom: 2px solid black;
    border-radius: 0;
    color: black;
    font-weight: 300;
    box-shadow: none
}

/* sub menu item */
.sub-menu-item {
    font-size: xx-small;
    padding: 5px 5px;
    width: 180px;
    margin: 2px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.2s ease, padding 0.2s ease;
    overflow: hidden;
}

.sub-menu-item:hover {
    text-decoration: underline;
    padding: 5px 0 5px 10px;
}

/* ============================= start accordion ============================ */
/* sub menu accordion */
.accordion-header {
    font-weight: 400;
    width: 180px;
    font-size: 10px;
    color: black;
    padding: 5px 0 5px 6px;
    margin-bottom: 6px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.accordion-header::before {
    content: "▸";
    display: inline-block;
    margin-right: 6px;
    transition: transform 0.3s ease;
}

.accordion-header.open::before {
    transform: rotate(90deg);
}

/* accordion list content while close */
.accordion-body {
    padding: 2px;
    width: 180px;
    max-height: 0;
    margin: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* accordion list content while open */
.accordion-header.open {
    font-weight: 600;
    background-color: var(--theme-color);
}

/* link in accordion */
.sub-menu-link {
    padding: 0;
    cursor: pointer;
    list-style: circle inside;
    font-size: 10px;
    margin: 4px 0;
    /* max-width: 100%; */
}

.sub-menu-link:hover {
    text-decoration: underline;
    color: black;
    /* background-color: var(--theme-color3); */
    padding-left: 2px;

}

/* ============================= End Accordion ============================ */





/* @media (min-width: 768px) {
    body.full-width .container {
        width: 99%;
        max-width: 100%;
    }
} */